<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>系统登录 - 超市账单管理系统</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="/javascripts/jquery.js" type="text/javascript" charset="utf-8"></script>
</head>
<body class="login_bg">
    <section class="loginBox">
        <header class="loginHeader">
            <h1>超市账单管理系统</h1>
        </header>
        <section class="loginCont">
            <form class="loginForm" >
                <div class="inputbox">
                    <label for="user">用户名：</label>
                    <input id="user" type="text" name="username" placeholder="请输入用户名" required/>
                </div>
                <div class="inputbox">
                    <label for="mima">密码：</label>
                    <input id="mima" type="password" name="password" placeholder="请输入密码" required/>
                </div>
                <div class="subBtn">
                    <input type="button"class="login" value="登录" />
                    <input type="button" class="reset" value="重置"/>
                </div>

            </form>
        </section>
    </section>

</body>
<script type="text/javascript">
	$('.login').click(function(){
		$.ajax({
			type:"post",
			url:"users/login",
			data:{name:$("#user").val(),pass:$("#mima").val()},
			success:function(data){
//				console.log($("#user").val())
//				console.log($("#mima").val())
				console.log(data)
				if(data == 1){
	  				alert("登录成功");
	  				location.href = "/"
	  			}else{
	  				alert("登录失败");
	  				location.href = "/login"
	  			}
			}
		});
	})
	
	
	//重置
	$('.reset').click(function(){
		$("#user").val("");
		$("#mima").val("");
	})
</script>
</html>